  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->

      <ul class="sidebar-menu" style="">

        <li>
          <p style="padding:10px">
            <form>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Cari</button>
                </span>
              </div><!-- /input-group -->
            </form>
          </p>
        </li>

        <li class="header"><b>RIWAYAT MAHASISWA</b></li>
        <li>
          <a href="pages/widgets.html">
            <i class="fa fa-user"></i> <span>Data Diri</span>
          </a>
        </li>
        <li>
          <a href="pages/widgets.html">
            <i class="fa fa-user"></i> <span>Data Diri Forlap</span>
          </a>
        </li>
      </ul>

      <ul class="sidebar-menu" style="">
        <li class="header"><b>INFO AKADEMIK</b></li>
        <li>
          <a href="pages/widgets.html">
            <i class="fa fa-user"></i> <span>Konversi Kurikulum</span>
          </a>
        </li>

        <li>
          <a href="pages/widgets.html">
            <i class="fa fa-user"></i> <span>KRS Semester</span>
          </a>
        </li>
        <li>
          <a href="pages/widgets.html">
            <i class="fa fa-user"></i> <span>Jadwal Kuliah</span>
          </a>
        </li>
        <li>
          <a href="pages/widgets.html">
            <i class="fa fa-user"></i> <span>Jadwal Ujian</span>
          </a>
        </li>
        <li>
          <a href="pages/widgets.html">
            <i class="fa fa-user"></i> <span>Kartu Hasil Studi</span>
          </a>
        </li>
        <li>
          <a href="pages/widgets.html">
            <i class="fa fa-user"></i> <span>Perkembangan Studi</span>
          </a>
        </li>                          
      </ul>

    </section>
    <!-- /.sidebar -->
  </aside>

